<div class="center-block" style="width:98%;">
    <div class="blog-post" ng-repeat="post in posts">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#/blog/p/{{ post.id | for_url }}" class="post-ref">&gt;&nbsp;{{ post.id }}</a>
                <a href="#/blog/e/{{ post.id | for_url }}" class="post-action btn btn-info btn-xs" ng-show="post.can_edit">edit</a>
            </div>
            <div class="panel-body">
                <div class="post-text" ng-bind-html="post.text | markdown"></div>
            </div>
            <div class="panel-footer">
                <p class="post-tags" ng-show="post.tags.length">
                    <a href="#/blog/t/{{ tag | for_url }}" class="post-tag" ng-repeat="tag in post.tags">{{ tag }}</a>
                </p>
                <div>
                    <span>&copy; {{ post.updated }}</span>
                    <a href="#/blog/u/{{ post.blog | for_url }}">/u/{{ post.blog }}</a>
                </div>
            </div>
        </div>
    </div>
    <button ng-show="next_page_from" type="button" class="btn btn-default" ng-click="next_page()">Load more</button>
    <button ng-show="only_this_blog || only_this_tag" type="button" class="btn btn-default" ng-click="back_to_all()">Clean filter</button>
</div>
