<div class="center-block" style="width:98%;">

    <ol class="breadcrumb" ng-show="only_this_tag">
        <li><a href="#/blog">t</a></li>
        <li ng-class="{active: $last}" ng-repeat="tag in only_this_tag">
            <a href="#/blog/t/{{ tag.id | for_url }}" class="index-tag" ng-hide="$last">{{ tag.name }}</a>
            {{ $last ? tag.name : '' }}
        </li>
    </ol>

    <ol class="breadcrumb" ng-show="only_this_blog">
        <li><a href="#/blog">u</a></li>
        <li class="active">{{ only_this_blog }}</li>
    </ol>

    <div class="subtags" ng-show="tags.length" style="width:70%;">
        <span>Subtags:</span>
        <a href="#/blog/t/{{ tag.id | for_url }}" class="index-tag" ng-repeat="tag in tags">{{ tag.name }}</a>
    </div>

    <div class="blog-post" ng-repeat="post in posts">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#/blog/p/{{ post.id | for_url }}" class="post-ref">&gt;&nbsp;{{ post.id }}</a>
                <a href="#/blog/e/{{ post.id | for_url }}" class="post-action btn btn-info btn-xs" ng-show="post.can_edit">edit</a>
            </div>
            <div class="panel-body">
                <div class="post-text" ng-bind-html="post.text | markdown"></div>
            </div>
            <div class="panel-footer">
                <tags-display tags="post.tags" ng-show="post.tags"></tags-display>
                <div>
                    <span>&copy; {{ post.updated }}</span>
                    <a href="#/blog/u/{{ post.blog | for_url }}">/u/{{ post.blog }}</a>
                </div>
            </div>
        </div>
    </div>
    <button ng-show="next_page_from" type="button" class="btn btn-default" ng-click="next_page()">Load more</button>
</div>
