<div>
    <div>
        <span>Добавить вверху:</span>
        <input type="button" value="галлерею" ng-click="add_block('gallery', -1, '')" />
        <input type="button" value="html" ng-click="add_block('html', -1, '')" />
        <input type="button" value="произвольный код" ng-click="add_block('custom', -1, '')" />
        <a ng-href="https://fiolentmys.ru/{{ page }}" target="_blank">Открыть страницу.</a>
    </div>
    <div class="block" ng-repeat="id in blocks">
        <div ng-if="data[id][0] != 'html'">
            <!-- TODO: special control for gallery -->
            <textarea style="width:100%;height:240px;" ng-model="data[id][1]"></textarea>
        </div>
        <div ng-if="data[id][0] == 'html'">
            <textarea ui-tinymce="tinymceOptions" ng-model="data[id][1]"></textarea>
        </div>
        <div>
            <span>Добавить после блока:</span>
            <input type="button" value="галлерею" ng-click="add_block('gallery', $index, '')" />
            <input type="button" value="html" ng-click="add_block('html', $index, '')" />
            <input type="button" value="произвольный код" ng-click="add_block('custom', $index, '')" />
            <br />
            <input type="button" value="Удалить блок" ng-click="remove_block($index)" />
        </div>
    </div>
    <div>
        <input type="button" value="Сохранить страницу" ng-click="save()" />
    </div>
</div>
