<file-upload class="btn btn-success btn-rad btn-trans file-upload" name="file" multiple="true" uri="/app/fiolentmys/upload" accept="">
    <i class="fa fa-upload"></i>
    <span>Upload Files</span>
    <ul style="margin:0px;">
        <li ng-repeat="p in __userFiles" ng-hide="p.percent == 100">
            <small>{{ p.name }}</small>
            <div class="progress">
                <div class="progress-bar" style="width: {{ p.percent }}%;"></div>
            </div>
        </li>
    </ul>
</file-upload>

<div>
    <div ng-repeat="p in __userFiles" ng-hide="p.percent != 100" style="padding: 4px;">
        <span style="font-weight: bold;">{{ p.name }}</span><span>:</span>
        <span>{{ url_or_error(p) }}</span>
    </div>
</div>
